/*@import './base.css';*/

body {
  background-color: rgb(244, 243, 233);
}

nav {
  display: block;
  float: right;
  padding: 15px 0;
  padding-right: 20px;
  font-size: 11px;
  width: 100%;
  background-color: rgb(170, 150, 124);
  height: auto;
  margin-bottom: 20px;
}

.navbar a {
  padding: 10px;
  margin-left: 10px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #373449;
  float: right;
}
.navbar a:hover {
    background: #CE8C91;
    padding: 10px;
    border-radius: 25px;
    transition: all .5s ease;
  }


.navbar a:first-child {
  background: #373449;
  color: #CE8C91;
  padding: 10px;
  border-radius: 25px;
  float: right;
}
.navbar a:first-child:hover {
    color: #373449;
    background: #CE8C91;
    transition: all .5s ease;
  }


.footer {
    background-color: #815b44;
    color: white;

    padding: 10px 20px ;
    margin-top: 40px;
    text-align: center;
}

.main-content {
  flex: 1; /* Allow the main content to grow and push the footer down */
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 70vh; /* Set a minimum height for the container */
}